#h1 {
    font-size: 24px;
}

ul{
  padding-inline-start: 0px;
  /*padding inline start 0px se não 40px; */
}

#navbar {
  background-color: #384454;
  color: white;
  margin: 0;  
  height: 100%;
}

.bg-branco{
  background-color: #FFFFFF;
}

.text-center .img-responsive {
  margin: 0 auto;
}

.bg-img {
  background-color: #3d2892;
  color: #FFFFFF;
  padding-bottom: 10px;
  padding-top: 15px;
}

.imagem {
    background-color: #3d2892;
    padding: 20px 80px 20px 80px
}

#formulario {
    text-align: left;
    margin: 0 20% 0 20%;    
    color: #3d2892;
}

.hr {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8%;
}

.box {
    position: absolute;
    top: 120px;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}
